datasets/*
44k/*
test/*
*/**/*.pt
*/**/*.pyc
*/**/logs/*
*/**/*.txt
*/**/*.jsonl
*/**/*.bin
pretrained_models/*
*/**/*.m4a
ttts.egg-info/*
.vscode/*
damo/*
.cache/*
*/**/*.wav
*/**/*.mp3
*/**/*.7z
ast_indexer
44k
datasets